.top{
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "DD SS"
                         "DD MB"
                         "DD VV";
}

.botao {
  background-color: orange;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 180px;
  margin-left: 10px;
}

.dados {
    background-color: whitesmoke;
    grid-area: DD;
    display: grid;
      grid-template-columns: 1fr 5fr 5fr;
      grid-template-areas: "D3 D1 D2"
  }
  
  .DADOS {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 20px; /* Adicione padding no lado esquerdo */
      grid-area: D3;
      font-size: 30px;
  }
  
  .dados1{
    font-size: 18px; /* Defina o tamanho da fonte desejado para "Dados" */
    padding-top: 70px;
    padding-left: 20px; /* Adicione padding no lado esquerdo */
    align-content: center;
    font-size: 26px;
    grid-area: D1;
  }
  
  .dados2{
      font-size: 18px; /* Defina o tamanho da fonte desejado para "Dados" */
      padding-top: 70px;
      padding-left: 20px; /* Adicione padding no lado esquerdo */
      align-content: center;
      font-size: 26px;
      grid-area: D2;
  }

  .saldo {
    background-color: #f0f0f0;
    border-left: 1px solid #333;
    grid-area: SS;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#saldoText {
    font-size: 18px;
    text-align: center;
}
  
#saldoValue {
    font-weight: bold;
    font-size: 24px;
    margin-left: 5px; /* Espaço entre "Saldo:" e o valor */
}

.modalB{
    grid-area: MB;
    font-size: 16px;
}

.void{
    background-color: whitesmoke;
    grid-area: VV;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.MB{
  width: 100%;
    height: 100%;
    border: 1px solid #333;
    border-right: 0px;
    font-size: 20px;
    cursor: pointer;
    margin: 0; /* Remova as margens */
    padding: 0; /* Remova o preenchimento */
}

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 12%;
    height: 20%;
}

  .modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

  .modal-content button {
    width: 100%;
    height: 30px; /* Ajuste a altura desejada */
    margin: 10px auto; /* Centralize verticalmente o botão */
    padding: 5px; /* Ajuste o preenchimento desejado */
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Ajuste o tamanho de fonte desejado para o botão */
    cursor: pointer;
    transition: background-color 0.3s;
}

  .modal-content button:hover {
    background-color: #ffc;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.tab{
  width: 99.88%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-areas: "T1 T2 T3";
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
    text-align: center;
    font-size: 18px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif; /* Set the desired font family */
  }
  
  
  .tab1{
    grid-area: T1;
    align-self: center;
  }

  .tab2{
    grid-area: T2;
    align-self: center;
  }

  .tab3{
    grid-area: T3;
    align-self: center;
  }

  .alterar-dados{
    font-size: 26px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .historico{
    font-size: 26px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .historico-table, th, td{
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
}
  
.ND {
    background-color: #f1f1f1;
    display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "NN NT"
                           "NE NS";
}
  
.NN, .NE, .NT, .NS{
    padding-bottom: 20px;
}
  
.NN{
    grid-area: NN;
}
  
.NE{
    grid-area: NE;
}
  
.NT{
    grid-area: NT;
}
  
.NS{
    grid-area: NS;
}

.nn, .ne, .nt, .ns{
    font-size: 20px;
}

.AdicionarRemover{
      font-size: 26px;
      padding-bottom: 20px;
      padding-top: 10px;
}

.veiculos{
    background-color: #f1f1f1;
    display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "SV RV"
                           "AM AS"
                           "NM AV";
}

.SV, .NM, .AV, .RV, .AM, .AV{
    padding-bottom: 20px;
    font-size: 20px;
}

.SV{
    grid-area: SV;
    padding-left: 10px;
}

.NM{
    grid-area: NM;
    padding-left: 10px;
}

.AM{
    grid-area: AM;
    padding-left: 10px;
}

.AV{
    grid-area: AV;
    padding-bottom: 20px; 
}

.AS{
    grid-area: AS;
    padding-bottom: 20px; 
}

.RV{
    grid-area: RV;
    padding-bottom: 20px; 
}

.sv, .nm, .am{
    font-size: 20px;
}

.avbutton, .rvbutton, .asbutton{
    font-size: 18px;
}

.nome, .email{
    padding-bottom: 30px;
}
    
.telefone{
    padding-top: 30px;
}

.saldo-negativo {
    color: red;
}

.saldo-positivo {
    color: black;
}

.menu-direita{
  margin-right: 20px;
}

.logout{
  width: 110%;
    height: 35px; /* Ajuste a altura desejada */
    margin: 10px auto; /* Centralize verticalmente o botão */
    padding: 5px; /* Ajuste o preenchimento desejado */
    background-color: burlywood;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px; /* Ajuste o tamanho de fonte desejado para o botão */
    cursor: pointer;
    transition: background-color 0.3s;
}